// the ~ allows you to reference things in node_modules
@import "~bootstrap";

/* fontawesome 5 free */
@import "~@fortawesome/fontawesome-free/scss/fontawesome.scss";
@import "~@fortawesome/fontawesome-free/scss/regular.scss";
@import "~@fortawesome/fontawesome-free/scss/solid.scss";
@import "~@fortawesome/fontawesome-free/scss/brands.scss";

/* flag-icon-css */
@import "~flag-icon-css/sass/flag-icon.scss";

/* import external URL font - Google font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto&display=swap");

/* header & footer */
@import "./layouts/header";
@import "./layouts/footer";
/* variables */
@import "./shared/variables";

/*------------------------------
            Global
-------------------------------*/
html {
  font-size: 100%;
}

body {
  font-family: $primary-font, sans-serif;
  background-color: #e4e4e4;
  &.page-container {
    padding-top: 60px;
    margin-top: -1px;
  }
  &#homepage {
    background-color: #c98224;
  }
  &#showproduct {
    background-color: #fff;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $title-font, sans-serif;
}

input[type="number"] {
  -webkit-appearance: textfield;
  -moz-appearance: textfield;
  appearance: textfield;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
}

/*------------------------------
  Home page: parallax 
-------------------------------*/
section {
  .main-title {
    font-size: 4em;
    line-height: 1.2;
    @media screen and (max-width: 500px) {
      font-size: 3em;
    }
  }
  p {
    font-size: 1.5em;
    @media screen and (max-width: 500px) {
      font-size: 1em;
    }
  }
  .text-light-bg {
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }
  .text-dark-bg {
    color: #ddd;
    background-color: #282e34;
    text-align: center;
    padding: 50px 80px;
    text-align: justify;
  }
  .parallax {
    position: relative;
    opacity: 0.85;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
    // @media only screen and (max-device-width: 1366px) {
    //   background-attachment: scroll;
    // }
  }
  .caption {
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    span.border {
      background-color: #111;
      color: #fff;
      padding: 18px;
      font-size: 2.5em;
      letter-spacing: 10px;
    }
    @media screen and (max-width: 500px) {
      span.border {
        font-size: 1em;
      }
    }
  }
  .bgimg-1 {
    background-image: url($bg-img-1);
    background-position: center center;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    height: 75vh;
    // min-height: 700px;
  }
  .bgimg-2 {
    background-image: url($bg-img-2);
    background-position: center center;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    min-height: 400px;
  }
  .bgimg-3 {
    background-image: url($bg-img-3);
    background-position: center center;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    min-height: 400px;
  }
  .bgimg-4 {
    background-image: url($bg-img-4);
    background-position: center center;
    /* Force the background image to fill the whole element. */
    background-size: cover;
    /* Keep the image from overlapping sibling elements. */
    z-index: -1;
    min-height: 400px;
  }
}

/*------------------------------
  Products page: animation image
-------------------------------*/
article {
  img {
    transition: transform 0.3s ease-out;
    &:hover {
      transform: scale(1.075);
    }
  }
  span.text-block {
    position: absolute;
    top: 20px;
    right: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  @media screen and (max-width: 500px) {
    span.text-block {
      position: absolute;
      top: 5px;
      right: 5px;
      padding-left: 10px;
      padding-right: 10px;
    }
    .product-title {
      font-size: 1rem;
    }
  }
}

/*------------------------------
  Products page: animation image
-------------------------------*/

/*------------------------------
  Products page: filter loader 
-------------------------------*/
.is-loading {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    opacity: 0.5;
    z-index: 4;
  }
  .spinner-border {
    position: absolute;
    top: calc(50% - 1rem);
    left: calc(50% - 1rem);
    z-index: 5;
  }
}

/*----------------------------------
  Detail product page: add quantity
-----------------------------------*/
.quantity-input {
  width: 7rem;
  input[type="number"] {
    max-width: 3rem;
  }
}

/*------------------------------
  Login page: Form
-------------------------------*/
form {
  .separator {
    .border-separator {
      border-bottom: 1px solid #adadad;
    }
    .bg-separator {
      background-color: #e4e4e4;
      padding: 15px;
    }
  }
  #socialLoginList {
    margin: 0;
    span {
      padding-left: 25px;
      padding-right: 25px;
    }
    i {
      font-size: 20px;
      padding: 5px 7px;
    }
    .is-disabled {
      background-color: #faf9f5;
      border-color: #000;
      color: #757575;
      font-size: 16px;
      text-align: left !important;
      padding-left: 30%;
    }
  }
  .privacy-policy {
    font-size: 12px;
  }
}

/*------------------------------
  Cart page: quantity
-------------------------------*/
#js_shopping_cart {
  table-layout: fixed;
  width: 100%;

  .js-quantity-modifier {
    font-size: 1.3rem;

    span {
      font-size: 1.7rem;
    }

    a {
      color: #444;
    }

    .quantity-up:hover {
      color: #07d43a;
    }

    .quantity-down:hover {
      color: #ff4136;
    }
  }
}
