/*------------------------------
  Header: Navbar
-------------------------------*/
/*-- Navbar --*/
nav {
  &.bg-custom-navbar {
    background-color: #cc3423;
  }
  .user-account-connected {
    width: 200px;
  }
  .cart-badge-top-right {
    background: yellow;
    position: relative;
    top: -10px;
    right: -2px;
  }
  @media screen and (max-width: 500px) {
    .logo-container {
      max-width: 207px;
    }
  }
  a {
    font-size: 1.3em;
  }
}

/*--------------------------------
  Header: Banner Impersonate
----------------------------------*/
.switch-user {
  z-index: 1;
  margin-bottom: -1rem !important;
}

/*--------------------------------
  Header: Background img
----------------------------------*/
header {
  .my-header-bg {
    height: 75vh;
    min-height: 400px;
    background-image: url("../../images/header/bar-beer.jpg");
    background-size: cover;
    background-position: center;
    color: #fc9816;
  }
  hr {
    border-top: 1px solid #fc9816 !important;
  }
  .line {
    padding-top: 65px;
  }
  .logo {
    padding-top: 35px;
    text-align: center;
  }
  .quote-text {
    text-shadow: 2px 2px 3px #000;
  }
}
